---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';

import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Nafissatou Faye - Engineer in Bioinformatics, Modeling, and Biotechnology',
};
---

<Layout metadata={metadata}>
  <!-- Remove announcement if not needed -->
  <Fragment slot="announcement"></Fragment>
  
  <!-- Header -->
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Experience', href: '#experience' },
        { text: 'Education', href: '#education' },
        { text: 'Projects', href: '#projects' },
        { text: 'Skills', href: '#skills' },
        { text: 'Blog', href: '#blog' },
      ]}
      actions={[
        {
          text: 'Contact me',
          href: 'mailto:nafissatou.faye15@gmail.com',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero Section -->
  <Hero
    id="hero"
    title="Nafissatou Faye"
    tagline="Engineer in Bioinformatics, Modeling, and Biotechnology"
    actions={[
      {
        variant: 'primary',
        text: 'Contact me',
        // This can link to your contact page or simply open an email client:
        href: 'mailto:nafissatou.faye15@gmail.com',
      },
    ]}
  >
    <Fragment slot="subtitle">
      I am passionate about leveraging computational methods to transform raw biological data into actionable insights.
      My experiences range from data quality and process management in AI-driven biotech to bioinformatics research 
      projects at leading institutions. I thrive on challenges at the intersection of biology, coding, and innovation.
    </Fragment>
  </Hero>

  <!-- About Me / Profile Overview -->
  <Content
    id="about"
    columns={1}
    image={{
      src: '~/assets/images/Nafissatou Faye.JPG',
      alt: 'Profile Background Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About Me</h2>
      <p>
        Curiosity-driven and detail-oriented, I specialize in harnessing bioinformatics, machine learning, and data science
        to drive breakthroughs in healthcare and biotech. With hands-on experience in data curation, pipeline development,
        and research collaborations, my focus lies in delivering efficient and reproducible solutions that empower teams
        and accelerate innovation.
      </p>
      <br/>
      <p>
        From working on next-generation sequencing data at the Pasteur Institute of Dakar to
        harmonizing clinical datasets at Owkin, I’m comfortable collaborating in cross-functional
        environments and adapting quickly to new challenges.
      </p>
      <br/>
      <p>
        Ready to tackle the next big problem in computational biology? Let’s connect!
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Experience -->
  <Steps
    id="experience"
    title="Work Experience"
    items={[
      {
        title: `Intern in Data Quality and Process Management 
                <br /> <span class="font-normal">Owkin, Paris, France</span> 
                <br /> <span class="text-sm font-normal">March - September 2024</span>`,
        description: `• Curated and harmonized clinical, omics, and histopathology datasets for machine learning models. 
          <br />• Automated processes to improve data handling efficiency for Owkin’s large strategic alliance projects.
          <br />• Standardized data quality workflows and pipelines, ensuring alignment with Owkin’s standards.
          <br />• Contributed to the Mosaic Window project for large-scale clinical data curation and public release.`,
        icon: 'tabler:briefcase',
      },
      {
        title: `Intern in Bioinformatics 
                <br /> <span class="font-normal">Pasteur Institute of Dakar, Dakar, Senegal</span> 
                <br /> <span class="text-sm font-normal">June - August 2023</span>`,
        description: `• Developed a bioinformatics pipeline to analyze Illumina SARS-CoV-2 sequencing data: variant calling, consensus generation, phylogenetic analysis.
          <br />• Validated new tools and delivered progress presentations.
          <br />• Contributed to monitoring variants and guiding future research applications.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Education -->
  <Steps
    id="education"
    title="Education"
    items={[
      {
        title: `Exchange Semester 
                <br /> <span class="font-normal">Trinity College Dublin (2023 - 2024)</span>`,
        description: `Machine/Deep Learning, Data Structures, Algorithms, Genomics & Systems Biology, 
          Molecular Basis of Diseases, Research Methods`,
        icon: 'tabler:school',
      },
      {
        title: `Management and leadership program 
                <br /> <span class="font-normal">Unitech International (2023 - 2024)</span>`,
        description: `Team leadership, conflict resolution, presentation skills, 
          project management, and collaboration with corporate partners.`,
        icon: 'tabler:school',
      },
      {
        title: `Biosciences Engineering (2021 - 2024) 
                <br /> <span class="font-normal">INSA Lyon</span>`,
        description: `Biotechnologies, Bioinformatics, Modeling, Biostatistics, Biomathematics, 
          Genetics, Epidemiology, Physical & Organic Chemistry, Software & Web Development, 
          Algorithms, Programming, Machine Learning.`,
        icon: 'tabler:school',
      },
      {
        title: `2 years of intensive general engineering studies (2019 - 2021) 
                <br /> <span class="font-normal">INSA Hauts-de-France</span>`,
        description: `Mathematics, Algorithms, Programming, Network & Computer Security, Mechanics, Robotics.`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Skills -->
  <Features3
    id="skills"
    title="Skills"
    subtitle="A snapshot of the tools, technologies, and soft skills I bring to the table."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Programming & Frameworks',
        description: 'Python, R, C++, C, SQL, Java, BASH, JavaScript, Flask, HTML, CSS.',
      },
      {
        title: 'Languages',
        description: 'English (C1), French (Native), Spanish (B2), Arabic (A2).',
      },
      {
        title: 'Soft Skills',
        description: 'Team Spirit, Adaptability, Problem-Solving, Critical Thinking, Communication, Project & Team Management.',
      },
      {
        title: 'Bioinformatics Expertise',
        description: 'Experience with genomic data science, bioinformatics pipelines for analysis (quality control, assembly, alignment, variant calling), packages and algorithms, and sequencing techniques and platforms (1st, 2nd and 3rd).',
      },
      {
        title: 'Machine Learning',
        description: 'Deep learning for biomedical imaging, segmentation, and classification tasks.',
      },
      {
        title: 'Cloud & Dev Tools',
        description: 'Experience with Nextflow, Git, Docker; adept in collaborative environment & version control.',
      },
      {
        title: 'Management & Leadership',
        description: 'Project management, team leadership, conflict resolution, cross-functional collaboration.',
      },
      {
        title: 'Interests',
        description: 'Open-source projects, Poetry, Personal Development, Romance, Psychology, Podcasting, Teaching.',
      },
      {
        title: 'Certifications',
        description: 'Genomics Data Science, AI for Medical Diagnosis (in progress).',
      },
    ]}
  />

  <!-- Projects (keep the same images) -->
  <Content
    id="projects"
    title="Projects"
    subtitle="Below are a few examples of my recent work, illustrating how I tackle challenges in bioinformatics, AI, and software development."
    isReversed
    items={[
      {
        title: 'Description:',
        description: `Developed a Python-based strategy for mapping short genomic sequences ('reads') 
          to a reference genome, optimizing accuracy and efficiency.`,
      },
      {
        title: 'Role:',
        description:
          'Used techniques such as suffix arrays, and burrows wheeler transform while optimizing time and space. ',
      },
    ]}
    image={{
      // Keep the same image as in your original portfolio
      src:'~/assets/images/read_alignment.png',
      alt: 'Alignment problem Image',
    }}

  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Bioinformatics — Read Alignment Algorithm</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Classification and segmentation of tumor images and ultrasound scans using deep neural networks 
          and encoder-decoder architectures, with techniques like data augmentation and oversampling.`,
      },
      {
        title: 'Role:',
        description: `Designed and trained neural networks for biomedical imaging, 
          achieving improvements in classification and segmentation accuracy.`,
      },
    ]}
    image={{
      src: '~/assets/images/biomed.png' ,
      alt: 'Biomedical imaging image',
    }}
 
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Deep Learning — AI Biomedical Imaging</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Implementation and deployment of a robot portrait software from a large database of images 
          under an Agile Scrum methodology.`,
      },
      {
        title: 'Role:',
        description: `Oversaw iterative sprints, integrated user feedback, ensured continuous delivery of 
          a functional prototype, and refined user stories for consistent improvement.`,
      },
    ]}
    image={{
      src: '~/assets/images/software.jpg',
      alt: 'Portrait Robot Image',
    }}
    
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">Software Development — Deep Learning & Agile Scrum</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- (Optional) Keep Testimonials if desired, or remove if not needed -->
  <Testimonials
    title="Team Feedback"
    subtitle="A few words from colleagues and collaborators I’ve worked with."
    testimonials={[
      {
        testimonial: `I had the pleasure of working with Nafissatou at Owkin and was very impressed by her efficiency, adaptability, and strong technical skills. She approached each project with a proactive mindset and consistently provided valuable insights and innovative solutions. Nafissatou worked effectively across multiple teams, 
        demonstrating great versatility. I have no doubt that she will excel in any future role and be a real asset to any company.`,
        name: 'Jasmine CHEBOUN',
        job: 'Data Engineer at Owkin',
        image: {
          src: 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png',
          alt: 'Testimonial Image',
        },
      },
      {
        testimonial: `Nafissatou understands and implements industry standards in all of her work and 
        possesses great technical skills. She is proactive, versatile, pleasant to work with, and her problem-solving abilities are outstanding. 

        I would welcome anytime the opportunity to collaborate again with her in the future.`,
        name: 'Jorge Arellano',
        job: 'Clinical Data analyst at Owkin',
        image: {
          src: 'https://media.licdn.com/dms/image/v2/D5603AQGZAN1UgBxAJw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1708645286729?e=1740614400&v=beta&t=4159_GqDGakohLlQTaryFi9iuAHzs9uQWXzJqukxsIs',
          alt: 'Testimonial Image',
        },
      },
      {
        testimonial: `Nafissatou was an outstanding team member who made a strong impact from the beginning of her internship at Owkin, passing a rigorous recruitment process with ease. She adapted quickly to our agile environment and demonstrated remarkable independence.
        Early on, she proactively engaged with several departments, fostering collaboration and driving processes forward. Her contributions were consistently valuable, particularly in the data quality pipeline/SOPs and her insightful questions regularly enriched our team discussions. 
        Nafissatou’s intellectual curiosity and proactive mindset make her a valuable asset to any team, and I highly recommend her. `,
        name: 'Romane BEAUREPERE',
        job: 'Project Manager at Owkin',
        image: {
          src: 'https://media.licdn.com/dms/image/v2/D4E03AQE5HLRfyVKjTA/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1710879747111?e=1740614400&v=beta&t=1JV23cQKNmnK8KOSRc0v6g6yUiXGjEZUr4PN5TL0q4g',
          alt: 'Testimonial Image',
        },
      },
    ]}
  />
  <BlogLatestPosts
  id="blog"
  title="Explore my insightful articles on my blog"
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</BlogLatestPosts>

  <!-- Call To Action -->
  <CallToAction
    title="Interested in collaborating?"
    subtitle="Whether it's bioinformatics, machine learning, or an interdisciplinary project, let's bring our ideas together."
    actions={[
      {
        variant: 'primary',
        text: 'Get in touch',
        href: 'mailto:nafissatou.faye15@gmail.com',
      },
    ]}
  />

</Layout>